In [4]:
import pandas as pd
import numpy as np
import os
import base64

In [5]:
df= pd.read_csv('attacks.csv', encoding = 'unicode_escape')

## Revisión y modificaciones generales

In [6]:
df.shape

(25723, 24)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [8]:
df.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [9]:
df.tail(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [11]:
df.columns = df.columns.str.lower()

In [12]:
df.isnull().head()

,case number,date,year,type,country,area,location,activity,name,sex,...,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [13]:
nulos_col= df.isnull().sum()

In [14]:
nulos_col

case number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex                       19986
age                       22252
injury                    19449
fatal (y/n)               19960
time                      22775
species                   22259
investigator or source    19438
pdf                       19421
href formula              19422
href                      19421
case number.1             19421
case number.2             19421
original order            19414
unnamed: 22               25722
unnamed: 23               25721
dtype: int64

In [15]:
porcentaje_nulos= nulos_col[nulos_col > 0]/df.shape[0] 
porcentaje_nulos

case number               0.661704
date                      0.755005
year                      0.755083
type                      0.755161
country                   0.756949
area                      0.772694
location                  0.775998
activity                  0.776154
name                      0.763169
sex                       0.776970
age                       0.865062
injury                    0.756094
fatal (y/n)               0.775959
time                      0.885394
species                   0.865335
investigator or source    0.755666
pdf                       0.755005
href formula              0.755044
href                      0.755005
case number.1             0.755005
case number.2             0.755005
original order            0.754733
unnamed: 22               0.999961
unnamed: 23               0.999922
dtype: float64

In [16]:
columnas_eliminar=['unnamed: 22', 'unnamed: 23', 'href formula', 'href' ]
columnas_eliminar

['unnamed: 22', 'unnamed: 23', 'href formula', 'href']

In [17]:
df.drop(columnas_eliminar, axis=1, inplace=True)

In [18]:
df.shape

(25723, 20)

In [19]:
df.head()

,case number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal (y/n),time,species,investigator or source,pdf,case number.1,case number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0

In [20]:
nulos_col= df.isnull().sum()
nulos_col

case number               17021
date                      19421
year                      19423
type                      19425
country                   19471
area                      19876
location                  19961
activity                  19965
name                      19631
sex                       19986
age                       22252
injury                    19449
fatal (y/n)               19960
time                      22775
species                   22259
investigator or source    19438
pdf                       19421
case number.1             19421
case number.2             19421
original order            19414
dtype: int64

In [21]:
porcentaje_nulos= nulos_col[nulos_col > 0]/df.shape[0]  #estoy diviendo entre el total de mis filas para conocer el porcentaje de nulos
porcentaje_nulos

case number               0.661704
date                      0.755005
year                      0.755083
type                      0.755161
country                   0.756949
area                      0.772694
location                  0.775998
activity                  0.776154
name                      0.763169
sex                       0.776970
age                       0.865062
injury                    0.756094
fatal (y/n)               0.775959
time                      0.885394
species                   0.865335
investigator or source    0.755666
pdf                       0.755005
case number.1             0.755005
case number.2             0.755005
original order            0.754733
dtype: float64

In [22]:
df_comp= df[['case number','case number.1','case number.2']]
df_comp.head()
df_comp.tail()

      case number case number.1 case number.2
25718         NaN           NaN           NaN
25719         NaN           NaN           NaN
25720         NaN           NaN           NaN
25721         NaN           NaN           NaN
25722          xx           NaN           NaN

In [23]:
df_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   case number    8702 non-null   object
 1   case number.1  6302 non-null   object
 2   case number.2  6302 non-null   object
dtypes: object(3)
memory usage: 603.0+ KB

In [24]:
df= df.dropna(how='all')
df.shape

(8703, 20)

In [25]:
df.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex ', 'age', 'injury', 'fatal (y/n)', 'time',
       'species ', 'investigator or source', 'pdf', 'case number.1',
       'case number.2', 'original order'],
      dtype='object')

In [26]:
df= df.rename(columns = {'case number':'case_number', 'sex ':'sex', 'fatal (y/n)':'fatal(y/n)','species ':'species' ,
                         'investigator or source':'investigator/source','case number.1': 'cn1', 'case number.2': 'cn2',
                         'original order':'original_order'})
df.head(0)

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal(y/n), time, species, investigator/source, pdf, cn1, cn2, original_order]
Index: []

## Columna sex

In [27]:
df.sex.value_counts()

M      5094
F       637
M         2
N         2
lli       1
.         1
Name: sex, dtype: int64

In [28]:
diccionario_sexo={'M':['M', ' M', 'M ', ' M '],
          'F':'F',
          'ND':['N', 'lli', '.', 'NA'] }

In [29]:
def sex_values(actual):
    try:
        llaves= [key for key, val in diccionario_sexo.items() if actual in val]
        return llaves [0]
    except:
        actual

In [30]:
df['sex']= df['sex'].apply(sex_values)

In [31]:
df['sex']= df['sex'].astype('string')

In [32]:
df.sex.value_counts()

M     5096
F      637
ND       4
Name: sex, dtype: Int64

In [33]:
df.sex=df.sex.fillna('UNKNOWN')

In [34]:
nulos_col= df.isnull().sum()
nulos_col

case_number               1
date                   2401
year                   2403
type                   2405
country                2451
area                   2856
location               2941
activity               2945
name                   2611
sex                       0
age                    5232
injury                 2429
fatal(y/n)             2940
time                   5755
species                5239
investigator/source    2418
pdf                    2401
cn1                    2401
cn2                    2401
original_order         2394
dtype: int64

In [35]:
porcentaje_nulos= nulos_col[nulos_col > 0]/df.shape[0]  
porcentaje_nulos

case_number            0.000115
date                   0.275882
year                   0.276112
type                   0.276341
country                0.281627
area                   0.328163
location               0.337929
activity               0.338389
name                   0.300011
age                    0.601172
injury                 0.279099
fatal(y/n)             0.337815
time                   0.661266
species                0.601976
investigator/source    0.277835
pdf                    0.275882
cn1                    0.275882
cn2                    0.275882
original_order         0.275078
dtype: float64

## Case Number para eliminar filas

In [36]:
df.case_number.tail()

8698      0
8699      0
8700      0
8701      0
25722    xx
Name: case_number, dtype: object

In [37]:
df_cero= df[df["case_number"]=='0'].index
df= df.drop(df_cero)
df.case_number.tail()

6298     ND.0004
6299     ND.0003
6300     ND.0002
6301     ND.0001
25722         xx
Name: case_number, dtype: object

In [38]:
df_equis= df[df["case_number"]=='xx'].index
df= df.drop(df_equis)
df.case_number.tail()

6297    ND.0005
6298    ND.0004
6299    ND.0003
6300    ND.0002
6301    ND.0001
Name: case_number, dtype: object

In [39]:
df_null= df[df["case_number"].isnull()].index
df= df.drop(df_null)
df.case_number.tail()

6297    ND.0005
6298    ND.0004
6299    ND.0003
6300    ND.0002
6301    ND.0001
Name: case_number, dtype: object

In [40]:
df.case_number.head()

0    2018.06.25
1    2018.06.18
2    2018.06.09
3    2018.06.08
4    2018.06.04
Name: case_number, dtype: object

In [41]:
nulos_col= df.isnull().sum()
nulos_col

case_number               0
date                      0
year                      2
type                      4
country                  50
area                    455
location                540
activity                544
name                    210
sex                       0
age                    2830
injury                   28
fatal(y/n)              539
time                   3353
species                2837
investigator/source      17
pdf                       0
cn1                       0
cn2                       0
original_order            0
dtype: int64

In [42]:
porcentaje_nulos= nulos_col[nulos_col > 0]/df.shape[0]  #estoy diviendo entre el total de mis filas para conocer el porcentaje de nulos
porcentaje_nulos

year                   0.000317
type                   0.000635
country                0.007935
area                   0.072211
location               0.085701
activity               0.086336
name                   0.033328
age                    0.449135
injury                 0.004444
fatal(y/n)             0.085542
time                   0.532138
species                0.450246
investigator/source    0.002698
dtype: float64

In [43]:
columns_drop= porcentaje_nulos[porcentaje_nulos>.45].index
columns_drop

Index(['time', 'species'], dtype='object')

In [44]:
df = df.drop(columns = columns_drop)
df.shape

(6301, 18)

In [45]:
nulos_col= df.isnull().sum()
nulos_col

case_number               0
date                      0
year                      2
type                      4
country                  50
area                    455
location                540
activity                544
name                    210
sex                       0
age                    2830
injury                   28
fatal(y/n)              539
investigator/source      17
pdf                       0
cn1                       0
cn2                       0
original_order            0
dtype: int64

## Columna type

In [46]:
df.type.value_counts()

Unprovoked      4595
Provoked         573
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: type, dtype: int64

In [47]:
tipos = {'Boat':['Boat', 'Boating', 'Boatomg'],
          'Invalid':['', 'Questionable', 'Invalid'], 
        'Unprovoked': 'Unprovoked','Sea Disaster':'Sea Disaster','Provoked': 'Provoked' }

In [48]:
def type_values(actual):
    try:
        llaves= [key for key, val in tipos.items() if actual in val]
        return llaves [0]
    except:
        actual

In [49]:
df['type']=df['type'].apply(type_values)

In [50]:
df['type']=df['type'].fillna('UNKNOWN')
df.type.value_counts()

Unprovoked      4595
Provoked         573
Invalid          549
Boat             341
Sea Disaster     239
UNKNOWN            4
Name: type, dtype: int64

## Columna fatal

In [51]:
df['fatal(y/n)'].value_counts()

N          4292
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: fatal(y/n), dtype: int64

In [52]:
fatal = {'N':[' N', 'N', 'N '],
          'Y':['Y', 'y', 'Invalid'], 
        'UNKNOWN':[ '2017', '' , 'M']}

In [53]:
def fatal_values(actual):
    try:
        llaves= [key for key, val in fatal.items() if actual in val]
        return llaves [0]
    except:
        actual

In [54]:
df['fatal(y/n)']=df['fatal(y/n)'].apply(fatal_values)

In [55]:
df['fatal(y/n)']=df['fatal(y/n)'].fillna('UNKNOWN')
df['fatal(y/n)'].value_counts()

N          4300
Y          1389
UNKNOWN     612
Name: fatal(y/n), dtype: int64

## Columna age

In [56]:
df.age.value_counts()

17                154
18                150
19                142
20                141
15                139
                 ...
20?                 1
 28                 1
7      &    31      1
 30                 1
13 or 14            1
Name: age, Length: 157, dtype: int64

In [57]:
df_age=df.groupby("age").filter(lambda x: len(x) == 1)

In [58]:
df_age.age

130              82
219             60s
235              72
445       18 months
613              74
           ...
5181    ?    &   14
5312       10 or 12
5483       31 or 33
6002             2½
6265       13 or 14
Name: age, Length: 75, dtype: object

In [59]:
string=[]
def edad(numero): 
    for i in numero:
        if not isinstance(numero, int):
            string.append(numero)

In [60]:
df_age.age=df_age.age.apply(edad)

In [61]:
unique_list = list(set(string))
print(unique_list)
len(unique_list)

['74 ', '18 months', '67', '>50', '(adult)', 'MAKE LINE GREEN', '"young"', '84', '18 to 22', 'Both 11', 'Ca. 33', '13 or 14', '6½', 'adult', '37, 67, 35, 27,  ? & 27', '9 or 10', '25 or 28', '31 or 33', '? & 19', '17 & 16', 'mid-30s', '33 or 37', '36 & 26', '23 & 20', ' 30', '34 & 19', '2½', '30 or 36', '33 & 37', 'F', '20 ', '2 to 3 months', '60s', 'Elderly', '13 or 18', 'mid-20s', '23 & 26', '87', '50 & 30', '7      &    31', '18 or 20', '21 & ?', '32 & 30', '9 months', '33 & 26', '74', '16 to 18', "60's", '20?', ' 28', '28, 23 & 30', 'X', '72', '12 or 13', '46 & 34', '82', 'A.M.', '28 & 26', '21, 34,24 & 35', '30 & 32', '  ', '?    &   14', '17 & 35', '"middle-age"', ' 43', 'Teens', '9 & 12', '10 or 12', '21 or 26', '25 to 35', '81', '45 ', '36 & 23', '86', '\xa0 ']

75

In [62]:
df.age = df.age.replace({'82':'82', '7      &    31':'7,31', '25 to 35':'25-35', "60's":'60', ' 28':'28', '2 to 3 months':'2,<1', '36 & 26':'36,26', '21 & ?':'21', '72':'72', '46 & 34':'46,34', '\xa0 ':'0', 'F':'0', 'mid-30s':'30', 'adult':'>18', '18 or 20':'18,20', '23 & 26':'23,26', '60s':'60', '23 & 20':'23,20', 'mid-20s':'25', '25 or 28':'25,28', '13 or 14':'13,14', '84':'84', '32 & 30':'32,30', '(adult)':'>18', '17 & 16':'17,16', '30 & 32':'30,32', '20?':'20', '?    &   14':'14', '"middle-age"':'40', 'Elderly':'60', '31 or 33':'32', '50 & 30':'50,30', '  ':'0', '30 or 36':'33', ' 30':'30', '9 & 12':'9,12', 'A.M.':'0', 'Both 11':'11', '2½':'2', '18 months':'<1', '>50':'>50', '34 & 19':'34,19', '33 & 37':'33,34', '16 to 18':'17', '33 & 26':'33,26', 'Ca. 33':'33', '? & 19':'19', '21 or 26':'21,26', '13 or 18':'16', '10 or 12':'11', ' 43':'43', '6½':'6', 'MAKE LINE GREEN':'0', 'Teens':'15', '28 & 26':'28,26', '17 & 35':'17,35', '20 ':'20', '74 ':'74', '87':'87', '21, 34,24 & 35':'21,34,24,35', '67':'67', '28, 23 & 30':'28,23,30', '33 or 37':'33,37', 'X':'0', '81':'81', '74':'74', '9 or 10':'9,10', '12 or 13':'12', '9 months':'<1', '86':'86', '"young"':'15', '37, 67, 35, 27,  ? & 27':'37,67,35,27,27', '36 & 23':'36,26', '18 to 22':'18-22', '45 ':'45'})

In [63]:
df.age.value_counts()

17       155
18       150
20       143
19       143
15       141
        ...
>50        1
18-22      1
9,12       1
25-35      1
13,14      1
Name: age, Length: 122, dtype: int64

In [64]:
df['age']= df['age'].astype('string')

In [65]:
df.age=df.age.fillna('UNKNOWN')

## Columna activity

In [66]:
df['activity'].value_counts()

Surfing                                   971
Swimming                                  869
Fishing                                   430
Spearfishing                              333
Bathing                                   162
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: activity, Length: 1532, dtype: int64

In [67]:
lista_act=list(df.groupby('activity', as_index=False).filter(lambda x: len(x) == 1).activity)
len(lista_act)

1315

In [68]:
diccionario = {'others': lista_act}
def simplificar(actividad):
    llave = []
    for key,val in diccionario.items():
        if actividad in val:
            return key
        else:
            return actividad

In [69]:
df.activity=df.activity.apply(simplificar)

In [70]:
df.activity.value_counts()

others                                                      1315
Surfing                                                      971
Swimming                                                     869
Fishing                                                      430
Spearfishing                                                 333
                                                            ...
Swimming alongside NOAA research vessel Discoverer             2
Surfing (lying prone on his board)                             2
Fishing for tuna                                               2
Cruising                                                       2
Boat with 5 men capsized while returning to the Amerique       2
Name: activity, Length: 218, dtype: int64

In [71]:
df.activity= df.activity.fillna('UNKNOWN')
df.activity.value_counts()

others                                                      1315
Surfing                                                      971
Swimming                                                     869
UNKNOWN                                                      544
Fishing                                                      430
                                                            ...
Spearfishing using Scuba                                       2
Kite Boarding                                                  2
Air disaster                                                   2
Fishing for prawns                                             2
Boat with 5 men capsized while returning to the Amerique       2
Name: activity, Length: 219, dtype: int64

## Orden por original_order

In [72]:
df.original_order=df.original_order.astype('int64')
df.sort_values('original_order', inplace=True)

In [73]:
df.reset_index(drop=True, inplace=True)
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal(y/n),investigator/source,pdf,cn1,cn2,original_order
0,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,S.W. Baker,ND-0001-Ceylon.pdf,ND.0001,ND.0001,2
1,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",UNKNOWN,Jules Patterson,M,UNKNOWN,FATAL,Y,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,ND.0002,ND.0002,3
2,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,UNKNOWN,FATAL,Y,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,ND.0003,ND.0003,4
3,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,UNKNOWN,FATAL,Y,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,ND.0004,ND.0004,5
4,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,UNKNOWN,FATAL,Y,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,ND.0005,ND.0005,6

## Columna country

In [74]:
df.country=df.country.str.upper()

In [75]:
df.country.isnull().sum()

50

In [76]:
df.loc[df[df.country.isnull()].index][['country', 'area', 'location']].head()

    country        area                                   location
42      NaN         NaN                                        NaN
95      NaN         NaN  In a river feeding into the Bay of Bengal
102     NaN         NaN                                        NaN
124     NaN  Ionian Sea                                        NaN
126     NaN  Ionian Sea                                        NaN

In [77]:
df.country=df.country.fillna('UNKNOWN')

## Columna investigator/source

In [78]:
df['investigator/source']=df['investigator/source'].fillna('UNKNOWN')

### Eliminar más columnas

In [79]:
columnas=['area', 'location','cn1','cn2']
df = df.drop(columns= columnas)
df.shape

(6301, 14)

In [80]:
df.head(20)

,case_number,date,year,type,country,activity,name,sex,age,injury,fatal(y/n),investigator/source,pdf,original_order
0,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,S.W. Baker,ND-0001-Ceylon.pdf,2
1,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,UNKNOWN,Jules Patterson,M,UNKNOWN,FATAL,Y,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,3
2,ND.0003,1900-1905,0.0,Unprovoked,USA,Swimming,Coast Guard personnel,M,UNKNOWN,FATAL,Y,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,4
3,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Pearl diving,Ahmun,M,UNKNOWN,FATAL,Y,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,5
4,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Diving,male,M,UNKNOWN,FATAL,Y,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,6
5,ND.0006,Before 1906,0.0,Unprovoked,AUSTRALIA,Swimming,Arab boy,M,UNKNOWN,FATAL,Y,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,7
6,ND.0007,Before 1906,0.0,Unprovoked,AUSTRALIA,Fishing,fisherman,M,UNKNOWN,FATAL,Y,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,8
7,ND.0008,Before 1906,0.0,Unprovoked,AUSTRALIA,Fishing,fisherman,M,UNKNOWN,FATAL,Y,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,9
8,ND.0009,Before 1906,0.0,Unprovoked,AUSTRALIA,Fishing,boy,M,UNKNOWN,"FATAL, knocked overboard by tail of shark & ca...",Y,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,10
9,ND.0010,Circa 1862,0.0,Unprovoked,USA,UNKNOWN,"A ""chiefess""",F,UNKNOWN,Ankle bitten,N,Captain W. Young,ND-0010-Puna Hawaii.pdf,11
10,ND.0011,Before 1911,0.0,Unprovoked,ASIA?,Swimming,Mr. Masury,M,UNKNOWN,Foot severed,N,"Ref. J. T. Dubois in N.Y. Sun, 3/19/1911",ND-0011-Masury.pdf,12
11,ND.0012,Before 19-Jul-1913,0.0,Unprovoked,SOUTH AFRICA,Wading,a young Scotsman,M,UNKNOWN,"FATAL, leg stripped of flesh",Y,"Rural New Yorker, 7/19/1913",ND-0012-Durban-Scotsman.pdf,13
12,ND.0013,No date (3 days after preceding incident) & pr...,0.0,Unprovoked,SOUTH AFRICA,Fishing,a native fisherman,M,UNKNOWN,"FATAL, body not recovered but shark was caught...",Y,"Rural New Yorker, 7/19/1913",ND-0013-Durban-native-fisherman.pdf,14
13,ND.0014,Before 17-Jul-1916,0.0,Unprovoked,USA,Swimming,"""youthful male""",M,UNKNOWN,"""Lost leg""",N,"C. Creswell, GSAF; Wilmington Star, 7/17/1916",ND-0014-pre1916-NorthCarolina.pdf,15
14,ND.0015,Before 1917,0.0,Unprovoked,FIJI,others,20 Fijians,UNKNOWN,UNKNOWN,"FATAL, 18 people were killed by sharks, 2 sur...",Y,"Fijian Society papers presented April 17, 1918...",ND-0015-FijianCanoe.pdf,16
15,ND.0016,Before 1921,0.0,Unprovoked,SOUTH AFRICA,others,male,M,UNKNOWN,FATAL,Y,"Captain A. Anderson, Natal Mercury, 12/31/192...",ND-0016- Durban-PostOffice.pdf,17
16,ND.0017,Before 1921,0.0,Unprovoked,SOUTH AFRICA,others,male,M,UNKNOWN,FATAL,Y,"Captain A. Anderson, Natal Mercury, 12/31/192...",ND-0017-alongside-ship.pdf,18
17,ND.0018,Before 1911,0.0,Unprovoked,VIETNAM,others,crewman,M,UNKNOWN,Foot bitten,N,"Daily Kennebec Journal, 3/27/1911",ND-0018-Vietnam.pdf,19
18,ND.0019,Before 1921,0.0,Unprovoked,USA,Fishing,James Kelley,M,UNKNOWN,2-inch lacerations,N,"T. Helm, p.219",ND-0019-Kelley.pdf,20
19,ND.0020,1920 -1923,0.0,Unprovoked,AUSTRALIA,UNKNOWN,3 Japanese divers,M,UNKNOWN,FATAL,Y,"V.M. Coppleson (1958), p.241",ND-0020-3JapaneseDivers.pdf,21

### Convertir en CSV

In [81]:
df.to_csv('Shark_clean.csv', index=False)